# Folders
/.ddev export-ignore
/.github export-ignore
/Build export-ignore
/Tests export-ignore
/config export-ignore
/var export-ignore

# Files
.editorconfig export-ignore
.gitattributes export-ignore
.crowdin.yaml export-ignore
.gitignore export-ignore
.php_cs.dist export-ignore

# Build
package.json export-ignore
webpack.config.js export-ignore
yarn.lock export-ignore

# lf checkout when text is auto-detected
* text=auto eol=lf
