/.idea

# composer
/vendor/
/composer.lock

# Build stuff
/.build/
/Build/yarn-error.log
/Build/.phpunit.result.cache
/Build/node_modules/
/Build/mix-manifest.json
/Build/testing-docker/.env
/Build/clover.xml
/Build/coveralls-upload.json
/Build/AcceptanceReports
/Tests/Acceptance/Support/_generated/
/temp-*/
/Documentation-GENERATED-temp/

# CGL Fixer
/.php_cs.cache

# Browserstack local
/local.log
./browserstack.err

# private stuff
/.ddev/homeadditions/.gitconfig
