# IDE
/.idea

# composer
/vendor/
/composer.lock

# build, dev, clutter
/Build/yarn-error.log
/Build/.phpunit.*
/Build/node_modules/
/Build/mix-manifest.json
/Build/testing-docker/.env
/Build/AcceptanceReports
/Tests/Acceptance/Support/_generated/
/temp-*/
/Documentation-GENERATED-temp/
/Resources/Public/Js/mix-manifest.json

# TYPO3
/.build/
/config/*
!/config/system/
/config/system/*
!/config/system/additional.php
/var

# CGL Fixer
/.php_cs.cache

# Browserstack local
/local.log
./browserstack.err

# private
/.ddev/homeadditions/.gitconfig
