{namespace cm=Dmind\Cookieman\ViewHelpers}
<f:comment><!--
        adding data-cookieman-showonce=1 only if we are not currently on pages where direct read access is mandatory
        -->
</f:comment>

<div id="cookieman-modal"
     data-cookieman-showonce="{f:if(
        condition: '{data.uid} != {settings.links.dataProtectionDeclarationPid}',
        then:'{f:if(
            condition:\'{data.uid} != {settings.links.imprintPid}\',
            then: 1,
            else: 0
         )}',
         else: 0
     )}"
     data-cookieman-settings="{cm:json(
        value: '{
            groups: settings.groups,
            trackingObjects: settings.trackingObjects
        }') -> f:format.htmlentities()}"
     class="modal fade" tabindex="-1" role="dialog"
>
    <f:render section="Content"/>
</div>
